a.brand {
	padding-top: 5px !important;
}

a.brand .logo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 26px;
	vertical-align: middle;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.5), -1px -2px rgba(0, 0, 0, 0.1);
}

.hero-unit {
	background-image: url("../img/back.jpg");
	background-position: center;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5), -1px -2px rgba(0, 0, 0, 0.1);
}

.hero-unit h1 {
	padding: 0px 0px 20px 0px;
	text-align: center;
}

.hero-unit h1 .logo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 80px;
	vertical-align: middle;
}

.hero-unit h1 .tag {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	vertical-align: -20%;
}

.hero-unit h1.mini {
	font-size: 34px;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.hero-unit p.desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #222;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.hero-unit p.mini {
	font-size: 18px;
	text-align: left;
	padding: 0;
}

.azul {
	color: #006fff !important;
}

.rojo {
	color: #ca0000 !important;
}

.amarillo {
	color: #ffc400 !important;
}

.alpha60 {
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background-color: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
